mixin about()
  section.about
    h2.about__title О проекте
    p.about__lead Основная задача сайта — повысить узнаваемость компании, сформировав образ компетентного разработчика IT-решений и выделив компанию среди конкурентов.

    
