// В этом файле должны быть стили для БЭМ-блока about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  margin-top: 59px;
  padding-bottom: 350px;
  background-image: url('../img/about__back.svg');
  background-size: cover;
  background-position: 0 215px;
  background-repeat: no-repeat;

  @media (min-width: $screen-sm) {
    background-position: center;
    padding-bottom: 253px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 215px;
    width: 100%;
    height: 250px;
    background-image: url('../img/about.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      top: 32px;
      right: 18px;
      width: 434px;
      height: 455px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 142px;
    width: 100%;
    height: 410px;
    background-image: url('../img/about__dots.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      top: -78px;
      right: 0;
      width: 580px;
      height: 650px;
      background-position: 55px 0px;
    }
  }


  &__title {
    margin-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 33px;
    line-height: 1.5;
    color: $main-color;

    @media (min-width: $screen-sm) {
      margin-bottom: 12px;
      padding-top: 55px;
      font-size: 36px;
    }
  }

  &__lead {
    max-width: 380px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }

}
