mixin adaptive()
  section.adaptive
    h2.adaptive__title Адаптивная версия
    p.adaptive__lead Мы адаптировали сайт под все популярные разрешения.  Его удобно просматривать на экране компьютера, планшета или смартфона. 
    a.adaptive__button(href="https://tomhunter.ru/" target="_blank") 
      span Готовый проект:
      span tomhunter.ru
