// В этом файле должны быть стили для БЭМ-блока devop, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.devop {

  $block-name:                &; // #{$block-name}__element

  margin-top: -10px;
  padding: 40px 0 0;

  @media (min-width: $screen-md) {
    padding-top: 9px;
  }

  @media (min-width: $screen-lg) {
    margin-top: 116px;
  }


  &__title {
    margin-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 32px;
    line-height: 50px;
    color: $main-color;

    @media (min-width: $screen-sm) {
      font-size: 32px;
      line-height: 50px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 16px;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 40px;
      line-height: 50px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 32px;
      padding-left: 100px;
      padding-right: 100px;
      font-size: 50px;
      line-height: 50px;
    }
  }

  &__lead {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 20px;
    max-width: 380px;

    @media (min-width: $screen-md) {
      max-width: 645px;
      margin-bottom: 25px;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 16px;
      line-height: 25px;
    }

    @media (min-width: $screen-lg) {
      max-width: 790px;
      margin-bottom: 30px;
      padding-left: 100px;
      padding-right: 100px;
      font-size: 20px;
      line-height: 30px;
    }
  }



}
