mixin devop()
  section.devop
    h2.devop__title Разработка
    p.devop__lead В итоге получился легкий и функциональный лендинг: минимум сложных решений, максимум быстродействия. Сайт написан по стандартам HTML5 с соблюдением требований спецификаций.
    p.devop__lead При разработке использовали методологию БЭМ и автоматизировали сборку проекта, и, в дальнейшем, одностраничник легко можно превратить в полномасштабный портал по желанию заказчика.
      
  
