mixin elements()
  section.elements
    h2.elements__title UI элементы
    p.elements__lead Мы провели тщательную работу над представлением контента на сайте. Важная информация, о которой пользователь узнает в первую очередь, размещается на карточках, а второстепенный контент группируется в блоки. 
    div(id='particles-elements')
    ul.elements__cards
      li.elements__card.elements__card--prog
        img(src="img/card__3.png", alt="Разработка программного обеспечения")
      li.elements__card.elements__card--met
        img(src="img/card__4.png", alt="Разработка авторских подходов и методик")
      li.elements__card.elements__card--prot
        img(src="img/card__1.png", alt="Анализ защищенности")
      li.elements__card.elements__card--lrn
        img(src="img/card__2.png", alt="Обучающие программы")
    p.elements__lead Разместили контент так, чтобы его было удобно воспринимать. Для этого создали аккуратные информационные блоки, инфографику.
    ul.elements__blocks
      li.elements__block.elements__block--test
        picture
             source(media='(min-width: 1440px)' srcset='img/block__0--lg.webp' type='image/webp' )
             source(media='(min-width: 1440px)' srcset='img/block__0--lg.jpg' )
             source(media='(min-width: 768px)' srcset='img/block__0--md.webp' type='image/webp' )
             source(media='(min-width: 768px)' srcset='img/block__0--md.jpg' )
             source(srcset='img/block__0.webp' type='image/webp')
             img.elemens__img(src='img/block__0.jpg' alt="Тестируем уязвимости")
      li.elements__block.elements__block--spec
        img.elemens__img(src="img/block__1.png", alt="Пригласить специалиста")
      li.elements__block.elements__block--rev
        img.elemens__img(src="img/block__2.png", alt="Отзывы клиента")
      li.elements__block.elements__block--mod
        picture
             //source(media='(min-width: 1440px)' srcset='img/main-slider-1--lg.webp' type='image/webp' )
             //source(media='(min-width: 1440px)' srcset='img/main-slider-1--lg.jpg' )
             //source(media='(min-width: 1000px)' srcset='img/main-slider-1--md.webp' type='image/webp' )
             //source(media='(min-width: 1000px)' srcset='img/main-slider-1--md.jpg' )
             //source(media='(min-width: 768px)' srcset='img/main-slider-1--sm.webp' type='image/webp' )
             //source(media='(min-width: 768px)' srcset='img/block__3--md.png' )
             //source(srcset='img/main-slider-1--xs.webp' type='image/webp')
             img.elemens__img(src='img/block__3.png' alt="Модальное окно")
      li.elements__block.elements__block--stat
        img.elemens__img(src="img/block__4.png", alt="Блок статистики")
    p.elements__lead Контент сайта загружается меньше, чем за секунду, все содержимое - за 3.5 секунды (и то, виноваты не мы, виноваты карты от Яндекс :) ), даже Гугл не придерется!
        
