// В этом файле должны быть стили для БЭМ-блока elements, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.elements {

  $block-name:                &; // #{$block-name}__element
  padding: 25px 20px 20px;
  background-image: url('../img/elements__back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $screen-sm)  {
    margin-top: -80px;
    margin-bottom: 20px;
    background-image: url('../img/elements__back--sm.png');
    background-position: 0 -268px;
  }

  @media (min-width: $screen-md) {
    position: relative;
    margin-top: -175px;
    margin-bottom: 0;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: url('../img/elements__back2.png');
    background-size: 100% 2500px;
    background-position: 0 165px;

    &::before {
      content: '';
      position: absolute;
      top: 19%;
      right: 0;
      width: 50%;
      height: 50%;
      background-image: url(../img/about__dots.png);
      background-size: cover;
      background-position: 0 50%;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $screen-lg) {
    margin-top: -273px;
    padding-left: 100px;
    padding-right: 100px;
    background-position: 0 280px;
  }

  &__title {
    margin-bottom: 13px;
    font-size: 32px;
    line-height: 50px;
    color: $main-color;

    @media (min-width: $screen-sm) {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: -8px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      font-size: 40px;
      line-height: 50px;
    }

    @media (min-width: $screen-lg) {
      font-size: 50px;
      line-height: 50px;
    }
  }

  &__lead {
    position: relative;
    max-width: 380px;
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    z-index: 1;

    &:last-of-type {
      margin-top: 25px;
      margin-bottom: 16px;

      @media (min-width: $screen-lg) {
        margin-top: 13px;
        margin-left: 660px;
        margin-right: 12px;
        font-size: 20px;
        z-index: 3;
      }
    }

    @media (min-width: $screen-sm) {
      max-width: 380px;
    }

    @media (min-width: $screen-md) {
      max-width: 480px;
      margin-top: 18px;
      margin-bottom: 34px;
      font-size: 16px;
      line-height: 25px;
    }

    @media (min-width: $screen-lg) {
      max-width: 580px;
      margin-top: 33px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__cards,
  &__blocks {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__cards {
    position: relative;
    max-width: 400px;
    height: 620px;
    margin-top: 30px;
    margin-bottom: 17px;

    @media (min-width: $screen-sm) {
      max-width: none;
      height: 440px;
    }

    @media (min-width: $screen-md) {
      margin-top: 130px;
      margin-bottom: 50px;
      height: 595px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 102px;
      margin-bottom: 102px;
    }
  }

  &__card {
    position: absolute;
    top: 0;

    &:hover {
      z-index: 3;

      img {
        box-shadow: 0 0 10px 0 rgba(41,21,86,.7);
      }
    }

    @media (min-width: $screen-sm) {
      width: auto;
    }

    img {
      width: auto;
      max-height: 235px;
      border-radius: 10px;
      transition: 0.7s;
      box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.08);

      @media (min-width: $screen-sm) {
        max-height: none;
        height: 310px;
      }

      @media (min-width: $screen-md) {
        height: 450px;
      }
    }

    &--prog {
      left: 0;
    }

    &--met {
      top: 64px;
      left: 42%;

      @media (min-width: $screen-sm) {
        top: 83px;
        left: 155px;
      }

      @media (min-width: $screen-md) {
        top: 123px;
        left: 229px;
      }

      @media (min-width: $screen-lg) {
        left: 236px;
      }
    }

    &--prot {
      top: 274px;
      left: 35%;
      z-index: 2;

      @media (min-width: $screen-sm) {
        top: -96px;
        left: 498px;
      }

      @media (min-width: $screen-md) {
        top: -300px;
        left: 618px;
      }

      @media (min-width: $screen-lg) {
        top: -160px;
        left: 715px;
      }
    }

    &--lrn {
      top: 360px;
      left: 0;

      @media (min-width: $screen-sm)  {
        top: 17px;
        left: 335px;
      }

      @media (min-width: $screen-md) {
        top: 10px;
        left: 500px;
      }

      @media (min-width: $screen-lg) {
        left: 515px;
      }
    }
  }


  &__blocks {
    height: 635px;
    margin-top: 25px;

    @media (min-width: $screen-sm) {
      height: 955px;
    }

    @media (min-width: $screen-md) {
      margin-top: 15px;
      height: 1485px;
    }

    @media (min-width: $screen-lg) {
      max-width: 1240px;
      margin-top: 43px;
      height: 1580px;
    }
  }

  &__block {
    position: absolute;
    top: 0;
    left: 0;

    img {
      box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.08);
    }

    &--test {
      left: unset;
      right: 0;

      @media (min-width: $screen-sm) {
        left: 0;
        right: unset;
      }

      img {
        max-height: 270px;

        @media (min-width: $screen-sm) {
          max-height: 368px;
        }

        @media (min-width: $screen-md) {
          max-height: 556px;
        }

        @media (min-width: $screen-lg) {
          max-height: 580px;
        }
      }
    }

    &--spec {
      top: 115px;
      left: unset;
      right: -20px;
      min-width: 270px;
      max-width: 60%;

      img {
        min-height: 164px;
        max-height: 250px;
        transition: 0.5s;

        @media (min-width: $screen-sm) {
          max-height: 390px;
        }

        @media (min-width: $screen-md) {
          max-height: 510px;
        }

        @media (min-width: $screen-lg) {
          max-height: 540px;
          height: 540px;
        }
      }

      @media (min-width: $screen-sm)  {
        top: 320px;
        left: 85px;
        right: unset;
        min-width: 285px;
        max-width: 80%;
      }

      @media (min-width: $screen-md) {
        top: 510px;
        left: 120px;
        width: 78%;
        min-width: 736px;
        max-width: 736px;
        transition: 0.5s;

        &:hover {
          left: 40px;
          z-index: 3;

          img {
            box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.08);
            max-height: 620px;
          }
        }
      }

      @media (min-width: $screen-lg) {
        top: 610px;
        left: 0px;
        min-width: unset;
        max-width: none;

        &:hover {
          left: 40px;
          z-index: 3;

          img {
            box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.08);
          }
        }
      }
    }

    &--rev {
      top: 245px;
      min-width: 130px;
      max-width: 250px;
      width: 47%;
      z-index: 2;

      img {
        min-height: 234px;
        max-height: 330px;
        transition: 0.5s;

        @media (min-width: $screen-sm) {
          max-height: 380px;
        }

        @media (min-width: $screen-md) {
          max-height: 465px;
        }

        @media (min-width: $screen-lg)  {
          max-height: 540px;
        }
      }

      @media (min-width: $screen-sm) {
        top: 543px;
      }

      @media (min-width: $screen-md) {
        top: 745px;
        max-width: 260px;
        transition: 0.5s;

        &:hover {
          z-index: 3;
          left: 20px;

          img {
            box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.08);
            max-height: 620px;
          }
        }
      }

      @media (min-width: $screen-lg) {
        width: auto;
        max-width: 300px;
        top: 610px;
        left: unset;
        right: 0;

        &:hover {
          z-index: 3;
          left: unset;
          right: 40px;

          img {
            box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.08);
            max-height: 620px;
          }
        }

      }
    }

    &--mod {
      top: 315px;
      left: unset;
      right: 0;
      width: 70%;
      z-index: 2;

      img {
        max-height: 170px;
        transition: 0.5s;

        @media (min-width: $screen-sm) {
          max-height: 215px;
        }

        @media (min-width: $screen-md) {
          max-height: 290px;
        }

        @media (min-width: $screen-lg) {
          max-height: 380px;
        }
      }

      @media (min-width: $screen-sm) {
        top: 674px;
        left: unset;
        right: 95px;
        width: 340px;
      }

      @media (min-width: $screen-md) {
        top: 903px;
        left: 420px;
        right: unset;
        width: 382px;
        transition: 0.5s;

        &:hover {
          z-index: 3;
          width: 480px;
          img {
            box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.08);
            max-height: 620px;
          }
        }
      }

      @media (min-width: $screen-lg) {
        top: 1110px;
        width: 600px;
        left: unset;
        right: 243px;
        transition: 0.5s;

        &:hover {
          width: 680px;
        }
      }
    }

    &--stat {
      top: 465px;
      left: unset;
      width: calc(100% - 40px);
      max-width: 366px;
      right: 20px;
      z-index: 1;

      img {
        max-height: 230px;
        transition: 0.5s;

        @media (min-width: $screen-md) {
          max-height: 400px;
        }
      }

      @media (min-width: $screen-sm) {
        top: 867px;
        left: 383px;
        right: unset;
        width: 435px;
      }

      @media (min-width: $screen-md) {
        top: 1106px;
        left: 297px;
        max-width: none;
        width: 565px;
        transition: 0.5s;

        &:hover {
          z-index: 3;
          width: 630px;
          top: 1050px;
          left: 180px;

          img {
            box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.08);
            max-height: 620px;
          }
        }
      }

      @media (min-width: $screen-lg) {
        top: 1385px;
        left: 0;

        &:hover {
          z-index: 3;
          width: 700px;
          top: 1300px;
          left: 40px;

          img {
            box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.08);
            max-height: 620px;
          }
        }
      }
    }
  }

}
