// В этом файле должны быть стили для БЭМ-блока visual, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.visual {

  $block-name:                &; // #{$block-name}__element
  position: relative;
  margin-top: 100px; //поднимаем из-за фона
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $screen-sm) {
    margin-top: 0;
    padding-bottom: 123px;
    margin-bottom: 0;
    background-image: url('../img/visual__back--sm.png');
    background-position: right bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: $screen-md) {
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 300px;
    background-image: url('../img/visual__back--md.png');
  }

  @media (min-width: $screen-lg) {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 530px;
  }

  &__wrapper {
    @media (min-width: $screen-sm) {
      display: grid;
      grid-template-columns: 1.37fr 1fr;
      grid-column-gap: 40px;
      grid-template-rows: 62px auto;
      padding: 103px 50px 60px 50px;
      background: #FFFFFF;
      box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.08);
    }

    @media (min-width: $screen-md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 70px auto;
      padding: 110px 60px 92px 60px;
    }

    @media (min-width: $screen-lg) {
      grid-template-rows: 105px auto;
      grid-column-gap: 120px;
      padding: 110px 160px 110px 80px;
    }
  }

  &__title {

    margin-top: -35px;
    margin-bottom: 23px;
    font-size: 32px;
    line-height: 35px;
    color: $main-color;

    @media (min-width: $screen-sm) {
      max-width: 380px;
      grid-column: 1/2;
      grid-row: 1/2;
      margin-bottom: 0;
      font-size: 36px;
      line-height: 1;
    }

    @media (min-width: $screen-md) {
      max-width: 500px;
      font-size: 40px;
      line-height: 40px;
    }

    @media (min-width: $screen-lg) {
      font-size: 50px;
      line-height: 50px;
    }
  }

  &__lead {
    font-size: 13px;
    line-height: 20px;
    max-width: 380px;

    @media (min-width: $screen-sm) {
      max-width: 380px;
      grid-column: 1/2;
      grid-row: 2/3;
    }

    @media (min-width: $screen-md)  {
      max-width: 500px;
      font-size: 16px;
      line-height: 25px;
    }

    @media (min-width: $screen-lg) {
      font-size: 20px;
      line-height: 35px;
    }
  }

  &__header {
    font-size: 24px;
    line-height: 25px;
    color: $main-color;
  }

  &__scheme {
    margin-top: 44px;
    max-width: 450px;

    @media (min-width: $screen-sm) {
      max-width: unset;
      grid-column: 2/3;
      grid-row: 1/2;
      margin: 0;
    }
  }

  &__typography {
    margin-top: 53px;
    max-width: 350px;

    @media (min-width: $screen-sm) {
      max-width: unset;
      grid-column: 2/3;
      grid-row: 2/3;
      margin: 0;
    }
  }

}
