mixin info()
  section.info
    h2.info__title.visually-hidden t.Hunter
    img.info__logo(src="img/hunter-logo.png", alt="", width='280', height='76')
    p.info__lead Создали landing page для компании  T. Hunter, основной деятельностью которой является обеспечение безопасности информационных систем.
    +about()
