mixin services()
  section.services
    h2.services__title Услуги
    p.services__lead Рассказываем о деятельности компании и об услугах, которые призваны обнаружить уязвимости информационных систем и в будущем снизить риск атак.
    img.services__illustrate(src="/img/services.jpg", alt="Слайд: Тестируем на уязвимости")
    p.services__lead Проблемы безопасности важно фиксировать вовремя — от этого зависит финансовое благополучие и репутация компании. Знакомим будущих клиентов со статистическими данными и объясняем насколько могут быть разрушительны последствия кибератак.
    ul.services__list
      li.services__item.services__item--first
        img(src="/img/slide__1.png", alt="Слайд: Статистика защищенности компаний в России")
      li.services__item.services__item--second
        img(src="/img/slide__2.jpg", alt="Слайд: Последствия кибератак")
