// В этом файле должны быть стили для БЭМ-блока present, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.present {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  margin-top: 80px;
  // padding-bottom: 300px;
  // margin-bottom: 75px;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: 2px;
  //   width: 100%;
  //   height: 330px;
  //   background-image: url('../img/present.png');
  //   background-size: 100%;
  //   background-position: center;
  //   background-repeat: no-repeat;
  // }

  &__title {
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 32px;
    line-height: 35px;
    color: $main-color;
  }

  &__lead {
    margin-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  &__download {
    position: relative;
    margin-left: 20px;
    padding-left: 44px;
    font-size: 16px;
    line-height: 30px;
    color: $main-color;
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 27px;
      height: 34px;
      background-image: url('../img/file.svg');
      background-size: cover;
      background-position: 100%;
      background-repeat: no-repeat;
    }

    &::after {
      content: 'pdf 1,3 МБ';
      display: block;
      margin-left: 20px;
      padding-left: 44px;
      font-size: 11px;
      line-height: 15px;
      color: #7A7A7A;
    }
  }

  &__wrapper {
    img {
      display: block;
      max-height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
