// В этом файле должны быть стили для БЭМ-блока result, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.result {

  $block-name:                &; // #{$block-name}__element
  position: relative;
  padding: 97px 20px 75px;
  background-image: url('../img/result__back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $screen-sm) {
    margin-top: 0;
    padding-top: 70px;
    padding-bottom: 60px;
    background-image: url('../img/result__back--sm.png');
  }

  @media (min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 85px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 105px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 10px;
    width: 200px;
    height: 200px;
    background-image: url('../img/result-item__lg.svg');
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.4;

    @media (min-width: $screen-sm) {
      top: -6px;
      right: 0;
      width: 400px;
      height: 400px;
      background-size: 100%;
      background-position: 0px -113px;
      transform: rotate(90deg);
    }

    @media (min-width: $screen-md) {
      top: 80px;
      right: unset;
      left: 65%;
      width: 350px;
      height: 350px;
      background-position: 0 0;
    }

    @media (min-width: $screen-lg) {
      top: 35px;
      left: unset;
      right: 11px;
      width: 500px;
      height: 500px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 180px;
    background-image: url('../img/result-item__md.svg');
    background-position: 66px 65px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    transform: rotate(90deg);

    @media (min-width: $screen-sm) {
      width: 170px;
      height: 170px;
      bottom: unset;
      left: 404px;
      top: 0;
      background-size: 100%;
      background-position: 0 0;
      transform: rotate(0deg);
    }

    @media (min-width: $screen-md) {
      left: 52%;
      top: 38px;
    }

    @media (min-width: $screen-lg) {
      left: 770px;
      top: 0px;
      width: 250px;
      height: 250px;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 35px;
    color: $main-color;

    @media (min-width: $screen-sm) {
      margin-bottom: 14px;
      font-size: 36px;
      line-height: 50px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 21px;
      font-size: 40px;
    }

    @media (min-width: $screen-lg) {
    margin-bottom: 31px;
    font-size: 50px;
    line-height: 50px;
    }
  }

  &__lead {
    max-width: 450px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $screen-sm) {
      max-width: 420px;
    }

    @media (min-width: $screen-md) {
      max-width: 490px;
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 25px;
    }

    @media (min-width: $screen-lg) {
      max-width: 590px;
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 24px;
      right: 0;
      width: 85px;
      height: 134px;
      background-image: url(../img/result-item__sm.svg);
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.4;

      @media (min-width: $screen-sm) {
        width: 100px;
        height: 100px;
        right: unset;
        right: 250px;
        bottom: 107px;
        background-position: 0 0;
      }

      @media (min-width: $screen-md) {
        left: 48%;
        bottom: 85px;
      }

      @media (min-width: $screen-lg) {
        width: 150px;
        height: 150px;
        left: 729px;
        bottom: 100px;
      }
    }
  }

}
