mixin result()
  section.result
    h2.result__title Результат
    p.result__lead Создали для Т. Hunter сайт с современным дизайном, формирующий целостный образ компании, который вызывает доверие. А также решили задачу знакомства клиентов с деятельностью компании посредством эффектной презентации.
    p.result__lead У нас с Т. Hunter ещё много планов для следующих спринтов: например, запустить уже разработанные, но пока  не заполненные блоки. Но даже сейчас, в минимальной комплектации, сайт решает поставленные задачи. 
