// В этом файле должны быть стили для БЭМ-блока scheme, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.scheme {

  $block-name:                &; // #{$block-name}__element
  width: 100%;


  @media (min-width: $screen-md) {
    max-width: 500px;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 24px;
    color: $main-color;

    @media (min-width: $screen-sm) {
      margin-top: -14px;
    }

    @media (min-width: $screen-md) {
      margin-top: -16px;
      margin-bottom: 34px;
      font-size: 28px;
      line-height: 28px;
    }
  }

  &__color-cell {
    height: 10px;
    padding: 0;
    padding-right: 4px;
    transition: 0.5s;


    &--second {
      background-color: $second-color;


      &:hover {
        box-shadow: 1px 3px 20px $second-color-hover;
      }
    }

    &--first {
      background-color: $dark;

      &:hover {
        box-shadow: 1px 3px 20px $dark-color-hover;
      }
    }

    &--dark {

      background-color: $main-color;

      &:hover {
        box-shadow: 1px 3px 20px $main-color-hover;
      }
    }
    &--light {
      padding-right: 0;
      background-color: $gray-light;

      &:hover {
        box-shadow: 1px 3px 20px $light-color-hover;
      }
    }
  }

  &__text-cell {
    padding-top: 6px;
    font-size: 12px;
    line-height: 15px;
    color: #9A9797;

    @media (min-width: $screen-md) {
      padding-top: 10px;
      font-size: 14px;
      line-height: 25px;
    }
  }
}
