mixin scheme()
  h3.scheme__title Цветовая схема
  table.scheme
    tr.scheme__row
      td.scheme__color-cell.scheme__color-cell--second
      td.scheme__color-cell.scheme__color-cell--first
      td.scheme__color-cell.scheme__color-cell--dark
      td.scheme__color-cell.scheme__color-cell--light
    tr.scheme__row
      td.scheme__text-cell #EB0029
      td.scheme__text-cell #511F72
      td.scheme__text-cell #291956
      td.scheme__text-cell #E5E5E5
