// В этом файле должны быть стили для БЭМ-блока typography, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.typography {

  $block-name:                &; // #{$block-name}__element
  width: 100%;

  @media (min-width: $screen-md) {
    max-width: 410px;
  }

  @media (min-width: $screen-lg) {
    max-width: none;
    width: 83%;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 24px;
    color: $main-color;

    @media (min-width: $screen-sm) {
      margin-top: 55px;
    }

    @media (min-width: $screen-md) {
      margin-top: 93px;
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 28px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 110px;
    }
  }

  &__letter-cell {
    padding: 0;
    font-size: 41px;
    line-height: 45px;
    color: $main-color;
    transition: 0.5s;
    cursor: default;


    &:hover {
      text-shadow: 0px 4px 5px $main-color-hover;
    }

    @media (min-width: $screen-md) {
      padding-right: 0;
      font-size: 60px;
    }

    &--bold {
      padding-right: 16px;
      font-weight: bold;
      color: $second-color;
      &:hover {
        text-shadow: 0px 4px 5px $second-color-hover;
      }
    }
  }

  &__text-cell {
    font-size: 16px;
    line-height: 25px;
    color: #9A9797;

    @media (min-width: $screen-md) {
      padding-top: 18px;
      font-size: 20px;
      line-height: 25px;
    }
  }
}
