mixin typography()
  h3.typography__title Типографика
  table.typography
    tr.typography__row
      td.typography__letter-cell.typography__letter-cell--bold  Аа
      td.typography__letter-cell Бб
    tr.typography__row
      td.typography__text-cell Lato Bold
      td.typography__text-cell Lato Regular
