mixin cooperation()
  section.cooperation
    h2.cooperation__title Цикл сотрудничества
    p.cooperation__lead Наглядно демонстрируем, как Т. Hunter организовали цикл сотрудничества с клиентами.
    img(src="img/cicle.png", alt="Слайд: Цикл сотрудничества")
