// В этом файле должны быть стили для БЭМ-блока cooperation, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cooperation {

  $block-name:                &; // #{$block-name}__element
  display: none;

  @media (min-width: $screen-sm) {
    display: block;
    padding: 52px 20px 0;
    background-color: rgba(204, 204, 204, 0.2);

    @media (min-width: $screen-md) {
      padding-top: 69px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-size: 36px;
    line-height: 50px;
    color: $main-color;

    @media (min-width: $screen-md) {
      margin-bottom: 21px;
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__lead {
    max-width: 380px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $screen-md) {
      max-width: 450px;
      font-size: 16px;
      line-height: 25px;
    }
  }

}
