//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/header/header.pug
include blocks/footer/footer.pug
include blocks/about/about.pug
include blocks/visual/visual.pug
include blocks/elements/elements.pug
include blocks/devop/devop.pug
include blocks/adaptive/adaptive.pug
include blocks/present/present.pug
include blocks/services/services.pug
include blocks/statistic/statistic.pug
include blocks/cards/cards.pug
include blocks/result/result.pug
include blocks/contacts/contacts.pug
include blocks/form/form.pug
