$main-color:          #291956; //
$main-color-hover:    rgba(41, 25, 86, 0.4);
$second-color:        #EB0029;
$second-color-hover:  rgba(235, 0, 41, 0.4);
$gray-light:          #E5E5E5;
$light-color-hover:  rgba(229, 229, 229, 0.4);
$gray-dark:           #231F20;
$dark:                #511F72;
$dark-color-hover:  rgba(	81, 31, 114, 0.4);

$text-color:          $gray-dark;

$font-family:         Lato, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           320px;
$screen-sm:           768px;
$screen-md:           1024px;
$screen-lg:           1440px;
$screen-xl:           1920px;


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
