$main-color:          #291956; //
$second-color:        #EB0029;
$gray-light:          #E5E5E5;
$gray-dark:           #231F20;
$dark:                #291956;

$text-color:          $gray-dark;

$font-family:         Lato, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           320px;
$screen-sm:           768px;
$screen-md:           1000px;
$screen-lg:           1440px;
$screen-xl:           1920px;


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
