mixin reflex()
  section.reflex
    div.reflex__wrapper 
      h2.reflex__title Визуальный образ
      p.reflex__lead Идею попадания в цель и защиты цифрового пространства от угроз, мы отобразили при помощи убийственно красивых мишеней.
      p.reflex__lead Никаких картинок, только ручная работа, только хардкор! Каждый элемент мишени стилизован в css для быстрой загрузки на клиенте, позиционирован относительно других элементов и общего блока, и приправлен сверху анимацией  для красоты.
