// В этом файле должны быть стили для БЭМ-блока reflex, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.reflex {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  margin-top: 75px;
  margin-bottom: 70px;
  color: #fff;

  @media (min-width: $screen-sm) {
    margin-top: 50px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -98px;
    right: 0px;
    width: 250px;
    height: 308px;
    background-image: url(../img/point__lg.svg);
    background-position: 11px -8px;
    background-size: 290px 308px;
    background-repeat: no-repeat;
    z-index: 2;

    @media (min-width: $screen-sm) {
      right: 20px;
      width: 410px;
      height: 385px;
      background-position: -7px -20px;
      background-size: cover;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -65px;
    left: -25px;
    width: 180px;
    height: 200px;
    background-image: url(../img/point__md.svg);
    background-position: -22px -7px;
    background-size: 180px 200px;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      bottom: -59px;
      left: 0;
      width: 180px;
      height: 200px;
      background-position: 0 0;
      background-size: 136px 208px;
    }
  }

  &__wrapper {
    position: relative;
    padding: 102px 20px 90px;
    background-color: #110A26;
    background-image: url('../img/reflex__back.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      margin-left: 20px;
      margin-right: 20px;
      padding: 50px 50px 75px;
      box-shadow: 0px 4px 40px rgba(41, 25, 86, 0.04);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 207px;
      right: 0;
      width: 130px;
      height: 130px;
      background-image: url(../img/point__sm.svg);
      background-position: 57px 0;
      background-size: 100%;
      background-repeat: no-repeat;

      @media (min-width: $screen-sm) {
        bottom: 20px;
        width: 170px;
        height: 170px;
        background-position: 15px 0;
        background-size: cover;
      }
    }
  }



  &__title {
    position: relative;
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 50px;
    font-weight: 600;

    @media (min-width: $screen-sm) {
      font-size: 36px;
      line-height: 50px;
      font-weight: 500;
    }
  }

  &__lead {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    max-width: 380px;

  }

}
